.register__input{
    margin: 0 0 30px 0;
    padding: 0 0 13px 0;
    height: 27px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    background-color: #000000;
    outline: none;
    font-family: 'Inter', "Helvetica Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    max-width: 100%;
    min-width: 100%;

}