@import URL('__image/card__image.css');
@import url('__section/card__section.css');
@import url('__title/card__title.css');
@import url('__like/card__like.css');
@import url('__trach-can/card__trash-can.css');
@import url('__like-container/card__like-container.css');
@import url('__likes-number/card__likes-number.css');
.card {
  position: relative;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}