@import url('../vendor/normalize.css');
@import url('../fonts/inter.css');
@import url('../blocks/popup-avatar/popup-avatar.css');
@import url('../blocks/popup-delete/popup-delete.css');
@import url('../blocks/page/page.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/card/card.css');
@import url('../blocks/popup-card/popup-card.css');
@import url('../blocks/card/_liked/card_liked.css');
@import url('../blocks/popup-image/popup-image.css');
@import url('../blocks/form/__input/form__input.css');
@import url('../blocks/popup/__button/_disabled/popup__button_disabled.css');
@import url('../blocks/popup/_opened/popup_opened.css');
.App {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Inter', 'Arial', sans-serif;
  transition: all 1s ease-out;
}
