.login__title{
    font-family: 'Inter', "Helvetica Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    margin: 60px auto 50px auto;
    padding: 0;
}