.bar__action{
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    font-family: 'Inter', "Helvetica Neue", "Arial", sans-serif;
    text-decoration: none;
}