.login__recheck{
    max-width: 100%;
    font-family: 'Inter', "Helvetica Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0;
}