@import url(./__email/bar__email.css);
@import url(./__action/bar__action.css);
@import url(./__action/__logged/bar__action_logged.css);
.bar{
    padding: 0;
    margin: 0;
    height: 22px;
    display: flex;
    flex-direction: row;
    gap: 22px;
}